@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;700;900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
   
}

/* header*/

main {
background-color: #C5AB9B;
}

.header {
display: flex;
max-width: 100%;
justify-content: space-between;
}


 .logo {
   align-content: center;
}

.imglogo {
 width: 150px;
 margin: 1rem;

}


.titulos {
text-align: center;
font-family: 'M PLUS Rounded 1c', sans-serif;
color: white;
padding: 50px 50px 50px;
}


.barranav {
display: flex;
align-items: center;
 justify-content: space-between;
 padding: 1rem;
}

 .menu {
    list-style-type: none;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color:white;
    display: flex;
 flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    gap: 2rem;
     
   } 
   


  .menu-item {
    background-color: #C5AB9B;
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: 500;
    color: white;
    text-decoration: none;
   }
 
   .abrir-menu {
    display: none;
}
    .cerrar-menu {
      display: none;
    }

   

/* section principal*/  

.section1 {
  background-image: url(./img/beautiful-girl-is-engaged-in-yoga-studio\ 2.png);
  background-repeat: no-repeat;
  height: 80vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding-inline: 200px;
}

 .textoprincipal {
  color: white;
  font-size: 2rem;
  
}

h2 {
  font-size: 1rem;
}

/* section practicas*/

.tarjetas {
    display: flex;
    gap: 2rem; 
    padding: 20px;

}

  .imgen1 { 

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    width: 200px;
    flex: 1;

}
 .textotarjeta {
  color: #C5AB9B;
  padding: 10px;
  flex-basis: 100%;
 } 
 
 .tarjetita { 
background-color: white;
 overflow: hidden;
 display: flex;
 flex-direction: column;
 gap: 10px;
 flex: 1;
 max-width: 100%;
 height: 600px;
 position: relative;
 flex-basis: 100%;
 }

 .tarjetita:hover button {
    background-color: #C5AB9B;
    color: white;
    padding:15px 50px ;
 }

   h3 {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #C5AB9B;
    flex-basis:100%;
   }

   .infomacioncard{
    padding: 20px 20px 20px 20px;
   }

   .titulos {
    font-size: 2rem;
   }

.boton1 {
  color: white;
  border-radius: 2rem;
  position: absolute;
  right: 30%;
  bottom: 0%;
  padding:10px 45px ;
  background-color: #AFACBE; 
  border-radius: 20px;
  font-size: 1rem;
  border: none;
  margin-bottom: 250px;
}


  
 /* aca empieza el footer */

.footer {
  width: 100%;
  display: flex;
  background-color: white;
  max-width: 100%;
  justify-content: space-between;

}

.red {
padding: 5px;
}

.logored {
  width: 20px;
  height: 20px;
 margin-left: 10px;
}

.linkred {
  color: #C5AB9B;
  text-decoration: none;
  margin-right: 10px;
}

h4 { 
  color: #C5AB9B;
  margin: 1rem;
}

.logofooter{ 
display: flex;
flex-wrap: wrap;
justify-content: end;
}

.imglogofooter {
  margin: 10px;
  display: flex;

}
.logo2 {
  width: 150px;
  height: 150px;
  padding: 10px;
 
}



   /*acá empieza CONOCENOS*/

    .texto {
      margin: 1rem 4rem 4rem 4rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      font-size: medium;
      background-color:#909f83;
      padding: 3rem;
      border-radius: 30px;
   }

   .quienessomos {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color:white;
font-weight: 200;
   }

   .instructoresder {
    margin: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    display: block;
   }

   .fotoinstructor{
    width: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    flex: 1;
   }

   .descripcioninstructor {
    text-align: center;
    width: 300px;
    gap: 3rem;
    color: white;
  }

/*ACA EMPIEZA AGENDA */ 

/*.tarjetas {
color: white;
display: flex;
margin: 4rem;
 gap: 8rem;
border: white solid;  
background-color: rgb(138, 158, 138);
} 

h3 .tarjeta {
  /*flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  flex: 1; 
*/


/* ACA EMPIEZA CLASES*/


.tarjetas2 {
  padding: 60px;
  display: flex;
  gap: 30px;
}

  .tarjetita2 {
    width: 250px;
    background-color: #909f83;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 5px;
    flex-basis: 100%;
    
  }
  .textotarjeta2 {
    padding: 10px;
  flex-basis: 100%;
  color: white;
  }

   .tarjetita2img { 
    width: 200px;
    height: 250px;
    margin: 20px 10px;
    padding: auto;
    margin-left: 35px;
    max-width: 100%;
   }
   
.estilo{
   color: white;
}

tr  {
  background-color: #AFACBE;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
}
 .columna {
  color: black;
 }

 .tarjetota {
  display: flex;
  gap: 3rem;
 
 }

 .tarjetotita {
  background-color: #909f83;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 3px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 100px;
 }

.tarjetotitaimg {
  max-width: 100%;
}


.forminsc {
  background-color: #909f83;
  width: 250px;
  border-radius:30px ;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 100px;
  display: flex;
  padding: 3rem;
  flex-direction: column;
}
 .mapa {
  background-color: #909f83;
  width: auto;
  border-radius:30px ;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 100px;
  display: flex;
  padding: 3rem;
  flex-direction: column;

 }

 .formclase {
  background-color: #909f83;
  width: auto;
  border-radius:30px ;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 100px;
  display: flex;
  padding: 3rem;
  flex-direction: column;
 }

.espacios {
  display: flex;
  flex-direction: column;
}



@media screen and (max-width:550px) {
  main { background-color: white;
  }
  .header { background-color: #C5AB9B;
    display: flex;
    height: 100px;
  }
  .tarjetita 
  { background-color: #909f83;
  flex-basis: 100%;}
  .imgen1  { width: 100px;
  height: 150px; }
  .textotarjeta { color: white;
  flex-basis: 100%;}
  .tarjetas { flex-direction: column;}
  h3 { flex-basis: 100%;
  color: white;}
  .textoprincipal { font-size: small;}
  .titulos { color: #909f83;}
  .section1 { display: none;}
  .section2 {display: flex;
  flex-direction: column;
position: relative;}
   

  .imglogo {display: block;}

  .barranav { position: absolute;
    display: flex;
    gap: 3rem;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    align-items: end;
    background-color: #AFACBE;
}

  .menu { 
  flex-direction: column;
  align-items: center; 
  
   }

   .barranav.visible {
    visibility: visible;
    opacity: 1;
    z-index: 1;
   }

.cerrar-menu { display: block;
background-color: #C5AB9B;
border: 0;
font-size: 2rem;}
.abrir-menu { display: block;
background-color: #C5AB9B;
border: 0;
margin-right: 2rem;
font-size: 2rem; }


/*clases*/ 
.tarjetas2 {
  flex-basis: 100%;
  flex-direction: column;
}

.tarjetota {
  flex-direction: column;
}
.tarjetita2 { 
  flex-basis: 100%;
  flex-direction: column;
}
.tarjetotita { 
  flex-basis: 100%;
  flex-direction: column;
 /* width: 250px;*/
} 
.sectionespacio {
  flex-direction: column;
  flex-basis: 100px;
  display: flex;
}

.forminsc {
  flex-direction: column;
  flex-basis: 100px;
  display: flex;
}
.formclase {
  flex-direction: column;
  flex-basis: 100px;
  display: flex;
}
.mapa {
    flex-direction: column;
    flex-basis: 100px;
    display: flex;
 
}

}