
  .boton2 {
    
    right: 30%;
    bottom: 10%;
    padding: 10px 15px;
    background-color: #AFACBE; 
    border-radius: 20px;
    font-size: 1rem;
    border: none;
    color: #fafafa;

  }

  .boton3 {
  
    background-color: #AFACBE; 
    border-radius: 20px;
    font-size: 1rem;
    border: none;
    color: #fafafa;
    padding: 10px 30px;
    align-self: center;
    
  }
  .boton3:hover {
    background-color: #C5AB9B;
    color: white;
 }

 .boton4 {
 margin-top: 1rem;
  margin-bottom: 2rem;
  background-color:$mainColor ; 
  border-radius: 20px;
  font-size: 1rem;
  border: none;
  color: #fafafa;
  padding: 5px 30px;
  align-self: center;

 }

 .boton4:hover {
  background-color:#AFACBE ; 
 }



 .botonprincipal {
  margin-bottom: 2rem;
  background-color: $mainColor; 
  border-radius: 20px;
  font-size: 1rem;
  border: none;
  color: #fafafa;
  padding: 10px 50px;
  align-self: center;
  transition: all 0.3s ease;
 }

 .botonprincipal:hover {
  box-shadow: 0 0 5px $mainColor,
  0 0 20px $mainColor,
  0 0 60px $mainColor,
  0 0 100px $mainColor;
 }