.boton1 {
    color: white;
    border-radius: 2rem;
    position: absolute;
    right: 30%;
    bottom: 0%;
    padding:10px 45px ;
    background-color: #AFACBE; 
    border-radius: 20px;
    font-size: 1rem;
    border: none;
    margin-bottom: 250px;
  }
  