.forminsc {
    background-color: #909f83;
    width: auto;
    border-radius:30px ;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
    display: flex;
    padding: 3rem;
    flex-direction: column;
  }
   .mapa {
    background-color: #909f83;
    width: auto;
    border-radius:30px ;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
    display: flex;
    padding: 3rem;
    flex-direction: column;
  
   }
  
   .formclase {
    background-color: #909f83;
    width: auto;
    border-radius:30px ;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
    display: flex;
    padding: 3rem;
    flex-direction: column;
   }
  
  .espacios {
    display: flex;
    flex-direction: column;
  }
  
  