  
  .formularios {
    display: flex;
    flex-direction: column;
  }

   .formclase {
    background-color: $colorwhite;
    border-radius:30px ;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 5rem;
    padding: 2rem;
    
   }

   .form-check-label{
    color: $mainColor;
   }

  