.header {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    .logo {
       align-content: center;
    }
    .imglogo {
     width: 150px;
     margin: 1rem;
    }
  }
    .barranav {
        display: flex;
        align-items: center;
         justify-content: space-between;
         padding: 1rem; }
         .menu {
            list-style-type: none;
            font-family: 'M PLUS Rounded 1c', sans-serif;
            color:white;
            display: flex;
         flex-direction: row;
            flex-wrap: wrap;
            padding: 30px;
            gap: 2rem;
           } 
          .menu-item {
            background-color: #C5AB9B;
            border-radius: 20px;
            padding: 10px 30px;
            font-weight: 500;
            color: white;
            text-decoration: none;
           }
         
           .abrir-menu {
            display: none;
            background-color:#DAE2D2;
        }
            .cerrar-menu {
              display: none;
              background-color: #DAE2D2;
            }
        
           .bi {
          color: #C5AB9B;
        }
        .bi-list {
          background-color: #DAE2D2;
        }
        
    
   