@media screen and (max-width:768px) {
    main { background-color: white;
      padding-bottom: 3rem;
    }
    .header { 
      display: flex;
      background-color: #DAE2D2;
    }
     .tarjetas { flex-direction: column;
      margin-left: 2rem;
      margin-right: 2rem;
    padding: 0px;
  margin-top: 1rem;}
    .tarjetita 
    { height: 300px;
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    flex-basis: 100%;}
  .infinity {
    font-size: medium;
  }
    h3 { flex-basis: 100%;
    color: $mainColor;}
    .textoprincipal { font-size: small;}
    .titulos { color:$mainColor;}
    .section1 { display: none;}
    .section2 {display: flex;
    flex-direction: column;
  position: relative;
  }
  .imglogo {display: block;
    max-width: 70%;
}
  
    .barranav { position: absolute;
      display: flex;
      gap: 3rem;
      opacity: 0;
      visibility: hidden;
      flex-direction: column;
      top: 0;
      bottom: 0;
      right: 0;
      align-items: end;
      background-color: #909f83;
      
  }
  
    .menu { 
    flex-direction: column;
    align-items: center; 
    
     }
  
     .barranav.visible {
      visibility: visible;
      opacity: 1;
      z-index: 1;
      background-color: #909f83;
     }
  
  .cerrar-menu { display: block;
  border: 0;
  font-size: 2rem;}
  
  .abrir-menu { display: block;
  border: 0;
  margin-right: 2rem;
  font-size: 2rem; }
   
  
  /*clases*/
  .table-responsive {
    margin-left: 2rem;
  }
  .tabla-horarios {
    overflow-x: scroll;
}
  .sectionespacio {
    flex-direction: column;
    flex-basis: 100px;
    display: flex;
  }
  
  .formclase {
    flex-direction: column;
    flex-basis: 100px;
    display: flex;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    margin-left: 2rem;
    margin-right: 2rem;
  }
  /*footer*/ 
  .footer {display: grid;
 }
  .grupo1 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap:30px;
    padding: 35px 0px;
    margin-left: 2rem;
    margin-right: 2rem;
  }
   .footer .imglogofooter {
    display: none;
  }
   

  /*agenda*/ 
.calendar {
  display: flex;
  flex-direction: column;
}
.dia-sem {
  display: none;
}

.dia-disable {
  display: none;
}

/*conocenos*/ 
.texto {
  display: flex;
  background-color:#AFACBE;
  background-image: none;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  padding: 1rem;
  
}
.quienessomos {
  color: fafafa;
}
.imgquienes{
  max-width: 100%;
  border-radius: 18px;
}


.equipo {
  margin-left: 1rem;
  margin-right: 1rem;
}
.tarjetasflip {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
   margin-left: 1rem;
   margin-right: 1rem;
}
.flip-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.tarjeta-2 {
background-position: top;
object-fit: cover;
}
.tarjeta-3 {
  background-position: top;
  object-fit: cover;
  }
  .tarjeta-4 {
    background-position: top;
    object-fit: cover;
    }
}