* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    
}
main {
    background-color: $mainColor;
    
    }

    .titulos {
        text-align: center;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        color: white;
        padding-top: 100px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 2rem;
        }