* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    
}
main {
    background-color: $mainColor;
    
    }

    .titulos {
        text-align: center;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        color: white;
        padding: 50px 50px 50px;
        font-size: 2rem;
        }