  @mixin centrado($margender, $margenizq){
    margin-left: $margenizq;
    margin-right: $margender;
  }
  
  .tarjetas {
    display: flex;
    gap: 2rem; 
    padding: 2rem;
    @include centrado(3rem,3rem);

 
 .tarjetita { 
background-color: white;
 overflow: hidden;
 display: flex;
 flex-direction: column;
 flex: 1;
 max-width: 100%;
 position: relative;
flex-basis: 100%;
 border-radius: 30px;
 transition: all 400ms ease;
 box-shadow: 0px 1px 10px rgb(0,0,0,0.2);

 } 

   .infomacioncard{
    padding: 20px 20px 20px 20px;
   }
  }
.tarjetita:hover .boton1 {
    background-color: #C5AB9B;
    color: white;
    padding:15px 50px ;
    transition: ease-in;
 }

 .tarjetita:hover  {
  box-shadow: 5px 5px 20px rgb(0,0,0,0.2);
  transform: translateY(-3%);
}


  tr  {
    background-color: #AFACBE;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
  }
   .columna {
    color: black;
   }
  
   /*titulos y textos*/

h2 {
margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C5AB9B;
    flex-basis:100%;
   }

  h3 {
    text-align: center;
    color: $mainColor;
    padding-top: 1rem;
  }

  p {
    margin: 0%;
  }

.textotarjeta {
  color: #C5AB9B;
  padding: 10px;
  flex-basis: 100%;
 } 

  /*acá empieza CONOCENOS*/

.imgquienes {
  max-width: 100%;
}
   .infinity {
    font-size: 2rem;
    padding: 2rem;
   }

.descripcioninstructor {
    padding: 1rem;
    color: $mainColor;
  }

  