@import "./partials/variables";
@import "./partials/reset";
@import "./partials/header";
@import "./partials/hero";
@import "./partials/tarjetas";
@import "./partials/boton";
@import "./partials/footer";
@import "./partials/form";
@import "./partials/conocenos";
@import "./partials/clases";

   

@media screen and (max-width:550px) {
  main { background-color: white;
  }
  .header { background-color: #C5AB9B;
    display: flex;
    height: 100px;
  }
  .tarjetita 
  { background-color: #909f83;
    height: 300px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  flex-basis: 100%;}
  .imgen1  { width: 100px;
  height: 150px; }
  .textotarjeta { color: white;
  flex-basis: 100%;}
  .tarjetas { flex-direction: column;}
  h3 { flex-basis: 100%;
  color: white;}
  .textoprincipal { font-size: small;}
  .titulos { color: #909f83;}
  .section1 { display: none;}
  .section2 {display: flex;
  flex-direction: column;
position: relative;
}
.imglogo {display: block;}

.imagen1 {
  height: 60%;
}
 .header {
  background-color: #DAE2D2;
 }
  .barranav { position: absolute;
    display: flex;
    gap: 3rem;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    align-items: end;
    background-color: #909f83;
    
}

  .menu { 
  flex-direction: column;
  align-items: center; 
  
   }

   .barranav.visible {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    background-color: #909f83;
   }

.cerrar-menu { display: block;
border: 0;
font-size: 2rem;}

.abrir-menu { display: block;

border: 0;
margin-right: 2rem;
font-size: 2rem; }
 

/*clases*/ 
.tarjetas2 {
  flex-basis: 100%;
  flex-direction: column;
}

.tarjetota {
  flex-direction: column;

}
.tarjetita2 { 
  flex-basis: 100%;
  flex-direction: column;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}
.tarjetotita { 
  flex-basis: 100%;
  flex-direction: column;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
 /* width: 250px;*/
} 
.sectionespacio {
  flex-direction: column;
  flex-basis: 100px;
  display: flex;
}

.forminsc {
  flex-direction: column;
  flex-basis: 100px;
  display: flex;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}
.formclase {
  flex-direction: column;
  flex-basis: 100px;
  display: flex;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}
.mapa {
    flex-direction: column;
    flex-basis: 100px;
    display: flex;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
 
}

}